
body{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;

}
h1{
color: rgba(245, 238, 238, 0.979);
background: red;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
margin-right: 50px;
margin-top: 30px;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}
#input{
    background: rgb(240, 237, 237);
    width: 350px;
    height: 35px;
    border-radius: 30px;
    
}
.searchform{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.icons{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

}
.icons img{
     width: 40px;
    height: 40px;
    margin-top: 1%;
}
#google_pic{
    margin-top: 30px;
    margin-left: 40px;
    height: 50px;
}
#bottom_pic{ 
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}